* {
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
}


.outil  {
    
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #ff004c;

   
    position: sticky;  
    top: 0;            
    z-index: 1000;     
    width: 100%;       
}

.outil ul a {
    text-decoration: none;
    margin-left: 15px;
    color: black;
    
}




.page {
    padding: 0.4rem 0.7rem;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.2s;
    font-size: 1.4rem;
    text-decoration: none;
    margin-right: 10px;


}

.page:hover {
    transform: scale(1.05);
    background-color: rgba(197, 27, 27, 0.295);
}


.haut {
    background-color: #f80404;
    color: #FFF;
    padding: 0.6rem 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin: 3.5rem auto 1.5rem;
    text-align: center;
    position: relative;
    box-shadow: 0 0 10px white
}


.box {
    margin: 100px;
    background-color: #EAEAEA;
    color: #666;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.125rem;
}


.histoire {
    display: block;
    margin: 1rem auto;
    max-width: 900px;
    padding: 1rem;
    background-color: #f80404;
    color: #FFF;
    border-radius: 0.8rem;
    font-size: clamp(1.25rem, 3.5vw, 3rem);
    margin-top: 50px;

}

.propos {
    display: block;
    margin: 1rem auto;
    max-width: 900px;
    padding: 1rem;
    background-color: #f80404;
    color: #FFF;
    border-radius: 0.8rem;
    font-size: clamp(1.25rem, 3.5vw, 3rem);


}


.banniere {
    width: 100%;
    max-width: 1200px;
    height: auto;
    aspect-ratio: 16/9;
    position: relative;
    border-radius: 1.25rem;
    margin: 1rem auto;
    border: 4px solid black;
}



.text {
    text-align: start;
    margin: 1rem auto;
    width: calc(100% - 2rem);
    max-width: 650px;
    background-color: #F1F5F9;
    border-radius: 15px;
    padding: 1rem;
}

.affiche {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 1rem auto;
    border: 4px solid black;
    border-radius: 15px;
}


.titre {
    font-size: clamp(1.5rem, 4vw, 3.25rem);
    background-color: #242424;
    background-image: linear-gradient(to bottom, #eb1639, #000000)
}

.a {
    text-decoration: none;
    color: inherit;
}

.a:hover {
    text-decoration: underline;
}


.link {
    color:  black;
}

.link:hover {
    transform: scale(1.05);
    color: rgb(162, 162, 255);
}




.face {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: scale(1.1);
    margin: 3px;

}


.face:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px white;

}







.footer i {
    font-size: 40px; 
    color: #000000;  
    transition: color 0.3s ease; 
    
}

.footer i:hover {
    color: #555; 
}
.score {
    color: black;
}

.footer a {
    
    margin: 5px; 
    
    
    display: inline-block; 
    margin-top: 5px;  
}


.jaune{
        background-color: yellow;
        width: 45px;
        color: black;
}

.rouge{
        background-color: red;
        width: 50px;
        color: black;
}

.bleu{
        background-color: blue;
        width: 35px;
        color: black;
}

.blanc{
        background-color: white;
        width: 45px;
        color: black;
}



.drapeau{
    width: 50px;
    margin-right: 15px;
}

.fa-brands {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transform: scale(1.1);
    margin: 3px;
}


.social-link i {       
    width: 40px;           /* Force la largeur du bloc à 30px */
    height: 30px;          
    
    /* Les lignes ci-dessous assurent que l'icône reste bien centrée */
    display: inline-flex;  
    justify-content: center;
    align-items: center;
    
    /* Conserve ta couleur */
    color: #000000; 
}



.footer {
    text-align: center;
    padding: 0; 
}


.contenu-gris {
    background-color: #e0e0e0; 
    padding: 20px 0;          
    margin-top: 0;             
}


.ligner {
    border-top: 5px solid red; 
    margin: 0;                 
    margin-bottom: 0;         
}