body {
    text-align: center;


}


.page {
    background-color: #00ABE4;
    color: #FFFFFF;
    padding: 5px 10px;
    /* réduit l'espace autour du texte */
    border-radius: 8px;
    /* légèrement arrondi */
    border-color: black;
    display: inline-block;
    /* fait que la boîte épouse la largeur du contenu */
    margin: 15px auto;
    /* recentre horizontalement si nécessaire */
    text-align: end;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 25px;
    text-decoration: none;
    margin-right: 15px;
}

.page:hover {
    transform: scale(1.1);
    /
}

.page:hover {
    background-color: #007BBF;
}


.haut {
    background-color: #00ABE4;
    color: #FFFFFF;
    padding: 5px 10px;

    border-radius: 8px;

    
    display: inline-block;
    margin: 100px auto;
    text-align: center;
    position: relative;
    margin-top: 55px;
    

}

.box {
    margin: 50px;
    background-color: #E9F1FA;
    color: grey;
    padding: 200px;
    border-radius: 100px;

    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;

}

.histoire {
    padding: 5px 10px;
    background-color: #00ABE4;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 15px;
    border-color: black;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 50px;

}




.outil {
    text-align: end;
}

.propos {
    margin: 20px;
    background-color: #00ABE4;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 15px;
    border-color: black;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 25px;
}



.face {
    color: #FFFFFF;
    padding: 5px 10px;

    border-radius: 100%;

    border-color: black;
    display: inline-block;
    margin: 50px auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 50px;
    height: 50px;
}




.face:hover {
    transform: scale(1.1);

}








.outil {
    background-color: #1D63FF;
    margin: 10px;
}

.titre {
    
    font-size: 50px;
    align-items: center;
}

.a {
    text-decoration: none;
    /* Supprime les lignes sous les liens */
    color: inherit;
    /* Conserve la couleur du texte */
}

.a:hover {
    text-decoration: underline;
    /* Ajoute une ligne uniquement au survol */
}



.banniere {
    width: 70%;
    height: 660px;
    position: relative;
    border-radius: 20%;
    margin-left: 100px;
    margin-right: 100px;
    
}


.ligner{
    width: 100%;
    border: black solid 2px;
    
}