* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
}


.outil ul {

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #FF7F00;
}

.outil ul a {
    text-decoration: none;
    margin-left: 15px;
    color: white;
}




.page {
    padding: 0.4rem 0.7rem;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.2s;
    font-size: 1.4rem;
    text-decoration: none;
    margin-right: 10px;


}

.page:hover {
    transform: scale(1.05);
    background-color: rgb(53, 51, 51);
}


.haut {
    background-color: #df8d3c;
    color: #FFF;
    padding: 0.6rem 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin: 3.5rem auto 1.5rem;
    text-align: center;
    position: relative;
    box-shadow: 0 0 10px white
}


.box {
    margin: 100px;
    background-color: #EAEAEA;
    color: #666;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.125rem;
}


.histoire {
    display: block;
    margin: 1rem auto;
    max-width: 900px;
    padding: 1rem;
    background-color: #df8d3c;
    color: #FFF;
    border-radius: 0.8rem;
    font-size: clamp(1.25rem, 3.5vw, 3rem);
    margin-top: 0px;

}

.propos {
    display: block;
    margin: 1rem auto;
    max-width: 900px;
    padding: 1rem;
    background-color: #df8d3c;
    color: #FFF;
    border-radius: 0.8rem;
    font-size: clamp(1.25rem, 3.5vw, 3rem);


}


.banniere {
    width: 100%;
    max-width: 1200px;
    height: auto;
    aspect-ratio: 16/9;
    position: relative;
    border-radius: 1.25rem;
    margin: 1rem auto;
    border: 4px solid black;
}

.ligner {
    width: 100%;
    border: 2px solid #FF7F00;
}

.text {
    text-align: start;
    margin: 1rem auto;
    width: calc(100% - 2rem);
    max-width: 650px;
    background-color: #F1F5F9;
    border-radius: 15px;
    padding: 1rem;
}

.affiche {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 1rem auto;
    border: 4px solid black;
    border-radius: 15px;
}


.titre {
    font-size: clamp(1.5rem, 4vw, 3.25rem);
    background-color: #242424;
    height: 300px;
}

.a {
    text-decoration: none;
    color: inherit;
}

.a:hover {
    text-decoration: underline;
}


.link {
    color: red;
}

.link:hover {
    transform: scale(1.05);
    color: rgb(162, 162, 255);
}




.face {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: scale(1.1);
    margin: 3px;

}


.face:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px white;

}


.footer {
    background-color: #242424;


}

.score {
    color: black;
}